.btn {
    font-family: $ff-en;
    font-size: 1.3rem;
    font-weight: bold;
    display: inline-block;
    padding: 1em 3em;
    text-decoration: none;
    color: #000;
    background-color: #F7D43F;
    border: solid 1px #F7D43F;
    border-radius: 30px;
    transition: all 0.9s ease 0s;
    cursor: pointer;
    width: 235px;
    height: 59px;

    &:hover {
        background: whitesmoke;
        color: #000;
    }

    &:focus {
        outline: none;
    }
}