.bg-img {

    &__works {
        background: url("/img/works-bgi@2x.jpg")center center/cover no-repeat;
        margin: 0 calc(50% - 50vw);
        width: 100vw;
        height: auto;
    }

    &__contact {
        background: url("/img/contact-bgi@2x.jpg")center center/cover no-repeat;
        margin: 0 calc(50% - 50vw);
        width: 100vw;
        height: auto;
    }
}