.works {
    max-width: 1000px;
    margin: 0 auto;

    &__title {
        font-family: $ff-en;
        font-size: 60px;
        font-weight: bold;
        display: flex;
        align-items: center;
        padding: 60px 0;
        margin-left: 50%;
        color: white;

        &::after {
            border: 2px solid #ffffff;
            content: "";
            width: 200px;
            margin-left: 30px;
        }

        @include mq-down(sm) {
            font-size: 30px;
            margin: 0 auto;
            padding-left: 130px;

            &::after {
                border: 1px solid #ffffff;
                content: "";
                width: 100px;
                margin-left: 30px;
            }
        }
    }

    &__cards {
        display: flex;

        @include mq-down(sm) {
            display: block;
        }
    }

    &__card {
        box-sizing: border-box;
        margin: 12px auto;
        width: calc(33.3333333% - 60px / 3);

        @include mq-down(sm) {
            width: 100%;
            margin: 0 auto;
            padding-bottom: 30px;
        }
    }

    &__body {
        background: white;
        height: 165px;
    }

    &__text {
        font-family: $ff-ja;
        font-size: 16px;
        font-weight: bold;
        line-height: 30px;
        padding: 20px;
    }

    &__btn {
        text-align: center;
        padding-top: 60px;
    }

    &__opacity {

        &--text {
            font-size: 90px;
            color: rgba(248, 238, 238, 0.233);
            padding: 70px 0;

            @include mq-down(sm) {
                font-size: 40px;
            }
        }
    }
}